<% [:notice, :error, :alert].each do |level| %>
	<% unless flash[level].blank? %>
		<div class="<%= flash_class(level) %> alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
			<%= flash[level].html_safe %> 
		</div>     
	<% end %>
<% end %>