<div class="row">
	<%= month_calendar  events: @appointments do |date, appointments| %>
		
  		<span class="date-str"><%= date.day %></span>
  		<% appointments.each do |appointment| %>
		    <div>
		      <%= appointment.name %>
		    </div>
	   <% end %>
	<% end %>
</div>